:root {
  // Colors
  // Primary

  --Orange-500: hsl(25, 97%, 53%);

  // Neutral

  --White: hsl(0, 100%, 100%);
  --Grey: hsl(213, 18%, 22%);
  --Grey-500: hsl(217, 12%, 63%);
  --Grey-900: hsl(213, 19%, 18%);
  --Grey-950: hsl(216, 12%, 8%);
  --footer: hsl(228, 45%, 44%);
}

@mixin container-style {
  width: 275px;
  height: auto;
  background-color: var(--Grey-900);
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Grey-950);
  font-family: "Overpass", sans-serif;
  color: var(--White);
  padding: 1rem;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.rating-container {
  @include container-style;
}

.image-container {
  width: 30px;
  height: 30px;
  background-color: var(--Grey);
  border-radius: 50%;
  text-align: center;
  align-content: center;

  img {
    width: 10px;
  }
}

h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  margin: 1rem 0;
}

p {
  line-height: 1.5;
  font-size: 12px;
  color: var(--Grey-500);
}

.buttons {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;

  .rating-btn {
    font-size: 12px;
    font-weight: 700;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--Grey);
    background-color: var(--Grey);
    color: var(--Grey-500);
    cursor: pointer;
  }

  .rating-btn:hover {
    background-color: var(--Orange-500);
    color: var(--Grey-950);
  }

  .active {
    background-color: var(--White);
    color: var(--Grey-950);
  }
}

.submit-btn {
  width: 100%;
  padding: 0.7rem;
  border-radius: 5rem;
  border: none;
  background-color: var(--Orange-500);
  color: var(--Grey-950);
  font-size: 12px;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--White);
}

.message-section {
  @include container-style;
  text-align: center;
  display: none;

  .selected-rating {
    width: 10rem;
    color: var(--Orange-500);
    border-radius: 1rem;
    background-color: var(--Grey);
    padding: 0.4rem;
    margin: 1rem 2.5rem;
  }

  h3 {
    margin: 1rem 0;
  }
}

// Media Query for Bigger Screen
@media (min-width: 768px) {
  .main-container {
    width: 100%;
    max-width: 450px;
    padding: 2rem;
  }

  .rating-container,
  .message-section {
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
  }

  h2,
  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 14px;
  }

  .rating-btn {
    width: 55px;
    height: 55px;
    font-size: 14px;
  }

  .submit-btn {
    font-size: 14px;
    padding: 1rem;
  }

  .selected-rating {
    font-size: 14px;
  }
}
